<!--<nav class="navbar navbar-dark bg-dark navbar-expand-lg"-->
<!--     style="position: fixed;left: 0;bottom: 0;width: 100%; text-align: center;padding: 20px; color: white; justify-content: center; height: 1px">-->
<!--    &copy; Aarush Gupta, 2019-->
<!--</nav>-->
</body>
</html>