<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>RecipeBook</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark"
     style="left: 0;top: 0;width: 100%; text-align: center;padding: 35px; color: white; justify-content: center; height: 1px">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" style="font-size: 20px;">Home</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/recipes" style="font-size: 20px;">Recipes</a>-->
<!--            </li>-->
        </ul>
    </div>
    <div class="mx-auto order-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        </button>
        <br>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/recipes" method="GET"
                          style="margin-top: 6px !important;">
                        <input type="text" name="search" placeholder="Search" class="form-control"
                               style="width: 60%;">&nbsp;
                        <button class="fas fa-search btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="font-size: 23px"></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="font-size: 20px;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="font-size: 20px;">Register</a>
                </li>
            <% } else{ %>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/recipes" method="GET">
                        <input type="text" name="search" placeholder="Search" class="form-control" style="width: 60%;">
                        &nbsp;<button class="fas fa-search btn btn-outline-success my-2 my-sm-0" type="submit"
                                      style="font-size: 23px"></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-user"
                       style="color: ivory; font-size:20px; font-weight: bold;"></a>
                    <a href="/dashboard"
                       style="color: white">
                    <span class="link"
                          style="color: ivory;font-weight: bold;"> <%= currentUser.username %></span>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link fas fa-power-off" href="/logout" style="font-size: 20px;"></a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
<div class="container">
    <% if(error && error.length > 0) { %>
        <p></p>
        <div class="alert alert-danger"
             style="border: 1px solid black;text-align: center;width: 50%;margin-left: 25%;padding: 2px;">
            <%= error %>
        </div>
    <% } else if(success && success.length > 0) { %>
        <p></p>
        <div class="alert alert-success"
             style="border: 1px solid black;text-align: center;width: 50%;margin-left: 25%;padding: 2px;">
            <%= success %>
        </div>
    <% } %>
</div>